<h1>Mes Entrainements</h1>
 <div class="card">
            <p-tabs value="0">
                <p-tablist>
                    @for (tab of tabs; track tab.label) {
                        <p-tab [value]="tab.value">
                            <span class="material-symbols-outlined">{{tab.icon}}</span>
                            <span>{{ tab.label }}</span>
                        </p-tab>
                    }
                </p-tablist>

                <p-tabpanels>
                    <p-tabpanel value="0">
                        <p class="m-0">
                            <app-program></app-program>
                        </p>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <p class="m-0">
                            <app-workout></app-workout>
                        </p>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>