h1 { margin: 0 0 1rem; }
    .grid { display: grid; gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); }

    .card {
        margin-top: 10px;

        p-tab {
        display: flex;

            .material-symbols-outlined {
                padding-right: 1px;
              }
        }
    }